@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@800&family=PT+Serif:ital@1&family=Roboto&display=swap');


html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 10px;
  margin: 0 auto;
  width: 100%;
  @media (min-width: 768px) {
    width: 768px;
  }
  @media (min-width: 992px) {
    width: 992px;
  }
  @media (min-width: 1200px) {
    width: 98%;
  }
  @media (min-width: 1600px) {
    max-width: 1800px;
  }
}

button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  outline: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

textarea:focus, input:focus{
  outline: none;
}

img {
  max-width: 100%;
}

a {
  padding: 0;
  text-decoration: none;
}
